body{
    background-color: #FFFEEC;
}
h1 {
    text-align:center;
    margin-top: 200px;
    font-size: 70px;
}

.center-container {
    display: flex;
    justify-content: center;
    color: #141414;
}

.btn-large {
    background-color: #1b5e20; /* Button background color */
    color: white; /* Text color */
}

.btn-large:hover {
    background-color: #141414;  /* Button background color on hover */
}

